.info {
  width: 25%;
  background-color: white;
  position: relative;
  margin-left: 3rem;
  flex-grow: 1;
  &-img {
    position: absolute;
    top: -2rem;
    left: 1rem;
    width: 25%;
    height: 4rem;
    object-fit: cover;
    border-radius: 1rem;
  }
  &-main {
    padding: 6rem 2rem 2rem 2rem;
  }
  &-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  &-desc {
    margin-top: 1rem;
  }
}
