.about {
  margin-top: 5rem;
  margin-left: 9rem;
  padding: 5rem 0;
  display: flex;
  &-heading {
    width: 30%;
  }
  &-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 2rem;
    line-height: 1.2;
  }
  &-desc {
    line-height: 1.2;
  }
  &-paginate {
    margin-top: 1.5rem;
    &-action {
      margin-top: 1rem;
    }
  }
}

.text-large {
  font-size: 2rem;
}

.people-list {
  width: 70%;
  display: flex;
}
