* {
  font-size: 10px;
  --font-size: 2rem;
  box-sizing: border-box;
}
.container {
  // margin: 0 8rem;
  width: 80%;
  margin: 0 auto;
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
  span {
    font-size: 2rem;
  }
}
.text-primary {
  color: #fb9333;
}
.mr-1 {
  margin-right: 1rem;
}

ul {
  list-style: none;
}

.text-white {
  color: white;
}

button,
input {
  outline: none;
}

.bg-primary {
  background-color: #fb9333;
}
.bg-secondary {
  background-color: #fff0dc;
}

h1,
h2,
h3 {
  color: #585858;
}

p,
span {
  color: #575757;
}
.bg-wrapper {
  background: linear-gradient(
    180deg,
    #fff6ea 0%,
    rgba(255, 232, 199, 0.5) 100%
  );
}

.text-center {
  text-align: center;
}
